<div class="container">
  <h1>Choose a contact</h1>
  <h3>Search for a contact</h3>
  <form [formGroup]="contactForm" (ngSubmit)="onSearch()">
    <div class="form-container">
      <div class="container-left">
        <div class="form-row">
          <div class="form-group">
            <label>First name</label>
            <input type="text" formControlName="firstName" class="form-control" />
          </div>

          <div class="form-group">
            <label><span class="required">*</span>Last name</label>
            <input type="text" formControlName="lastName" class="form-control" />
            <div *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
              <small class="text-danger" *ngIf="contactForm.get('lastName')?.hasError('required')">Last name is
                required.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="dateInput">Select Date</label>
            <input type="date" formControlName="dob" id="dateInput" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" formControlName="email" class="form-control" />
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input type="text" formControlName="phone" class="form-control" />
          </div>
        </div>
      </div>
      <div class="container-right">
        <!-- Content for the right container -->
        <div class="form-row">
          <div class="form-group full-width">
            <label>Street address</label>
            <input type="text" formControlName="street" class="form-control" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control" />
          </div>

          <div class="form-group">
            <label>State</label>
            <select formControlName="state" class="form-control">
              <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Zip code</label>
            <input type="text" formControlName="zip" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- checkbox column-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} {{element.LastName}} </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="DOB">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.City}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.State}} </td>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="Zip">
      <th mat-header-cell *matHeaderCellDef> Zip </th>
      <td mat-cell *matCellDef="let element"> {{element.Zip}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator hideRangeLabel="true" hidePageSize="true" showFirstLastButtons="false" getRangeLabel>
  </mat-paginator>
</div>